/*
Typ třídy	            Způsob pojmenovávání
Blok	                .block
Element	              .block__element
Modifikátor	          .block--modifier
Modifikátor elementu	.block__element--modifier
*/

.btn {
  display: inline-block;
  padding: 0.35rem 0.95rem;
  margin: 0.2rem;
  color: $color_text_white;
  background: $color_primary;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;

  &--lg {
    padding: 0.45rem 4rem;
  }

  &:disabled {
    cursor: default;
  }

  &--primary {
    background: $color_primary;
    &:hover {
      background: darken($color_primary, $bg_hover_darken);
      //background: $color_primary_dark;
    }
    &:disabled {
      background: $color_primary_light;
    }
  }

  &--light {
    color: $color_text_black;
    background: $color_lighter;
    &:hover {
      background: darken($color_lighter, $bg_hover_darken);
      //background: $color_light;
    }
    &:disabled {
      color: $color_text_gray;
      background: $color_lighter;
    }
  }

  &--secondary {
    background: $color_secondary;
    &:hover {
      background: darken($color_secondary, $bg_hover_darken);
      //background: $color_secondary_dark;
    }
    &:disabled {
      color: $color_text_light;
      background: $color_secondary_light;
    }
  }

  &--danger {
    background: $color_danger;
    &:hover {
      background: darken($color_danger, $bg_hover_darken);
      //background: $color_danger_dark;
    }
    &:disabled {
      color: $color_text_light;
      background: $color_danger;
    }
  }
}

input[type="file"]::-webkit-file-upload-button {
  @extend .btn, .btn--primary;
}

input[type="file"] {
  cursor: pointer;
  color: $color_text_dark;
  font-size: 0.85em;

  &:hover {
    color: $color_text_black;
  }
}
